section.testimoni {
    text-align: center;
}
.testimoni .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.carousel .carousel-box {
    display: flex;
    width: 100%;
    transition: .5s ease;
    gap: 1rem;
    overflow: hidden;
    /* scrollbar-width: none; */
    padding: 2rem 2rem 1.6rem 2rem;
    user-select: none;
}
.carousel-box .card {
    min-width: calc(35% - 1rem);
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: flex-start;
    gap: .5rem;
    text-align: left;
    width: fit-content;
    height: fit-content;
    transition: .2s;
}
.carousel-box .rating i {
    color: orange;
}
.carousel-box p.text-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    transition: .2s;
}
.carousel-box .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}
.carousel-box .profile .photo {
    font-size: 1.7rem;
}
.carousel-box .profile p {
    font-size: .8rem;
}
.carousel button {
    border-radius: 50%;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel button:hover {
    background-color: var(--main-color);
}
.carousel button i {
    color: #fff;
}
.carousel button:hover i {
    background-color: var(--main-color);
}
.carousel .next {
    right: 2px;
}
.carousel .prev {
    left: 2px;
}